.nav {
    background-color: #fbfdff;
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid #b8b7b780;
    margin-bottom: 100px;
}
  
.nav-title {
  display: inline;
  color:black;
}

.nav a {
  text-decoration: none;
}
  
.nav:visited {
  color: black;
}

@media only screen and (max-width: 500px) {
  .nav {
    margin-bottom: 20px;
  }
}