
.nav {
  background-color: #fbfdff;
  padding: 10px;
  width: 100%;
  border-bottom: 1px solid #b8b7b780;
  margin-bottom: 100px;
}

h3 {
  display: inline;
  color:black;
}
.nav a {
  text-decoration: none;
}

.nav:visisted {
  color: black;
}
.container {
  display:flex;
  flex-direction: column;
  /* justify-content: center; */
  width: 400px;
  margin: 0 auto;
}

.upload-container, .title, .message {
  background-color: #fbfdff;
  border: 1px solid #b8b7b780;
  padding: 25px;
  margin-bottom: 5px;

}

.upload-container, .title, .message, .button {
  border-radius: 10px;
}

.upload {
  display: flex;
  justify-content: center;
  gap: 5%;
  align-items: center;
  cursor: pointer;
  margin-bottom: 5px;

}
.fa-cloud-upload-alt {
  font-size: 35px;
  color: #409fff;
}
.fa-cloud-upload-alt:hover {
  -moz-transition: all .15s ease-in;
  -o-transition: all .15s ease-in;
  -webkit-transition: all .15s ease-in;
  transition: all .15s ease-in;
  color: #005ab4;
}

.upload-here {
  font-weight: bold;
}

.upload-stats-label {
  color: #777;
  font-size: 15px;
}
.file-list {
  max-height: 208px;
  overflow-y: scroll;
}

.file-item {
  position: relative;
  padding: 15px;
  list-style-type: none;
  border-bottom: 1px solid #b8b7b780;
}
.file-item:first-child {
  border-top: 1px solid #77777780;
}

.file-metadata {
  font-weight:lighter;
  font-size: 15px;
}

.form {
  text-align: center;
}

.label {
  display: inline-block;
  margin-bottom: 7px;
  font-weight:300;
  font-size:17px;
}

.label-desc {
  color: #777;
  font-size: 15px;
  margin-bottom: 10px;
}
.input {
  min-width: 70%;
  max-width: 70%;
  margin-bottom: 15px;
  border:none;
  border-bottom: 1px solid black;
  background-color: #fbfdff;
}

.input[type="text"], .input[type="textarea"] {
  font-size: 15px;
}

.input-title {
  overflow-x: scroll;
}
.input-message {
  min-height: 42px;
  max-height: 229px;
  overflow-y:scroll;
}

.form-buttons {
  display: flex;
  justify-content: center;
  gap: 3%;
}
.button {
  
  width: 140px;
  height: 50px;
  font-size: 17px;
}

.button:hover {
  cursor: pointer;
}

.button-restart {
  background-color:#f2f2f3;
  color: #409fff;
  border: none;
}
.button-restart:hover {
  -moz-transition: all .15s ease-in;
  -o-transition: all .15s ease-in;
  -webkit-transition: all .15s ease-in;
  transition: all .15s ease-in;
  color: #005ab4;
}

.button-submit {
  background-color:#409fff;
  border: 1px solid #409fff;
  color: white;
}

.button-submit:hover {
  -moz-transition: all .15s ease-in;
  -o-transition: all .15s ease-in;
  -webkit-transition: all .15s ease-in;
  transition: all .15s ease-in;

  background-color:#005ab4;
  border-color: #005ab4;
}

.fa-spinner{
  font-size: 100px;
  color: #409fff;
  animation: spin 1s infinite linear;
}

.popup {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-inner {
  position: relative;
  padding: 32px;
  width: 100%;
  max-width:640px;
  background-color:#f2f2f3;
}


@media only screen and (max-width: 500px) {
  .nav {
    margin-bottom: 20px;
  }

  .container {
    width: 95%;
  }
  .upload {
    display:flex;
    flex-direction: column;
  }
  .upload-image {
    margin-bottom:5px;
  }
  .upload-here {
    margin-bottom: 15px;
  }
  .button {
    width:35%;
  }
}
