.link-container {

}

.link-content {
    background-color: #fbfdff;
    width: 600px;
    /* height: 100px; */
    margin: auto;
    min-height: 50vh;
    
    border: 1px solid #b8b7b780;
    padding: 25px;
}

.get-your-link {
    margin-bottom: 20px;
}
.x-file {
    display: inline-block;
    margin-bottom: 20px;
}

.file-text {
    font-weight: lighter;
}

.file-list {
    max-height: 208px;
    overflow-y: scroll;
    margin-bottom: 20px;
}

.copy-input {
    padding: 7px 8px;
    width: 412px;
    border: 1px solid #6b696980;     
}

#copy-btn {
    border: 1px solid #22222241;
    height:32px;
}

.fa-copy {
    padding: 6px 10px;
    color:#005ab4;
}


